{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "browsers": "last 2 versions",
        },
        "spec": false,
        "loose": true,
        "useBuiltIns": "usage",
        "modules": "umd"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true,
        "useBuiltIns": true
      },
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      },
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "ignore": [
    "**/*.doc.js"
  ]
}
