{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "browsers": "last 2 versions",
        },
        "spec": false,
        "loose": true,
        "modules": "umd"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true,
        "useBuiltIns": true
      },
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      },
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime"
        ]
      ]
    }
  }
}
